  /* 0. ----  Базовые стили для ВСЕГО сайта ----  */
html {
  box-sizing: border-box; /* ширина и высота = content+border+padding. */
    font-family: "Times New Roman", serif;
/*  font-family: Arial,"Helvetica CY", "Nimbus Sans L",  sans-serif;*/
    font-size: 18px;  /* Базовый размер шрифта */
/*  line-height: 1.4;  Межстрочный интервал */

}
/* Теперь ВСЕ  элементы БУДУТ наследовать  box-sizing от родителя - от тэга html */
/* Источник:  https://ymatuhin.ru/front-end/better_box_sizing */
*, *:before, *:after {
    box-sizing: inherit;
}  /* Конец базовых стилей сайта */



body {
    margin: 0px;
    /* background-color: #E7E7E7; Фоновый цвет сайта*/
    }
/* Стили контейнера сайта */
.container {
    width: 100%;
    margin: 0 auto;
    min-height: 500px;
    }

/* --- Стили заголовка всего сайта ---- */
/* Логотип */
header.logo {
    margin: 0 auto;
    height: 50px;
    background-color: #295151;
    color: #F2F4D2;  /* Цвет шрифта логотипа и  пунктов меню */
    }

/* --- Главное меню 2-х колоночного сайта --- */
nav.nav-main {
    display: flex;
    justify-content: space-around;  /* Пункты меню равномерно по ширине */
    }
/* Пункты главного меню */
.nav-item {
    cursor: pointer;
    }

/* ===== Стили 2-х колоночной части сайта ======================= */
/* --- Главная часть --------- */
main {
    color: #1A3A85; /*  Цвет шрифта для обоих колонок  */
    display: flex;  padding: 1px;  /* 2-е колонки рядом */
    justify-content: space-between;  /* Колонки прижаты к разным сторонам*/
    }
/* Стили левой колонки */
.left {  
    width: 73%;  /* Ширина */
    padding: 0% 3%;  /* Отступ сверхуи снизу 0,  слева и справа 3%*/
    background-color: #E7E7E7; /* Цвет левой части сайата */
    }
/* Стили правой колонки */
.right { 
    width: 27%;
    background-color: #E7E7E7; 
    padding: 0% 1%;  /* Отступ сверхуи снизу 0,  слева и справа 3%*/
    }

/* Заголовок статьи */
h1 {
    text-align: center;
    font-size: 1.2rem;  /* Размер шрифта от html. */
    color: #1A3A85;  /* Пока такой же как цвет шрифта всего текста */
    }
/* Заголовок раздела статьи */
h2.part {
    text-align: center;
    color: #295151;
    font-size: 1.1rem;  /* Размер шрифта от html. */
/*    font-size: 19px;   Изменил размер под основной шрифт. */
    }
/* Подраздел раздела статьи */
h3.subpart {
    text-align: left;
    margin-bottom: 0px ;
    font-size: 1rem;  /* Размер шрифта от html. */
    }
/* Параграф подраздела */
p.sub-p {
    margin-top: 0px ;
    padding-left: 3% ;
    text-indent: 0;  /* Убираю красную строку */
    }
ol.sub-ol {
    list-style-position: outside; /* Маркер снаружи списка */
    list-style-type: lower-alpha;
    }

/* Любой параграф */
p {
    text-align: justify;  /* Выравнивание текста по всей ширине */
    text-indent: 3%;  /* Красная первая строка */
    }
footer {
    min-height: 100px;
    border: 1px solid grey;
    background-color: grey;
    text-align: center;
    color: #082056;
    }

/* ---  Автонумерация разделов и подразделов статьи --- */
body {  /* в body  создаем 1-й счетчик для разделов */
  counter-reset: part /* Создаем счетчик, от слова partition */
  }
h2.part {
  counter-reset: subpart 0;  /* В каждом теге с классом ЗАНОВО создаем новый 2-й счетчик. */
  counter-increment: part 1;  /* Увеличиваем 1-й счетчик */
  text-align: center;  /* Выравниваем по центру */
  }
h2.part::before {
    content: counter(part) ". ";
    }
h3.subpart::before {
     counter-increment: subpart 1;  /* Указываем число для увеличения */
     content: counter(part) "." counter(subpart) ".";  /* Автономер подраздела */
     color: #874444;  /* Цвет автонумерации */
     }

 /* ---- Media Query. Должны быть ниже всех ------------  */
 /* Стили для устройств с которым работают пальцами (смартфоны, планшеты.  */
 @media (hover: none) and (pointer: coarse) {
     .left { width: 100%; }  /* Ширина левой колонки */
     .right { display: none; }  /* Убираем правую колонку */
     html {font-size: 16px;}   /* Уменьшае размер основного шрифта  */
     }

/* Для десктопа, если пользователь уменьшит ширину вкладки браузера  */
@media screen and (max-width: 800px)  {
   .left { width: 100%; }  /* Ширина левой колонки */
/*    html {font-size: 12px;}*/
   .right { display: none; }  /*  */
   }

